.comment-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.comment-item {
    width: 200px;
    height: 200px;
    background: #e9eef3;
    margin-bottom: 15px;
}

.comment-item__header {
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    margin: 0;
    font-size: 20px;
    width: 100%;
    height: 20%;
    background: #4b596c;
    color: #ffffff;
}

.comment-item__description {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-around;
}

.email {
    font-size: 18px;
    font-weight: bold;
}

.comment-item:nth-of-type(2n) {
    background: #deebde;
}

.comment-item:nth-of-type(2n) .comment-item__header {
    background: #58ad52;
}

.comment-item:nth-of-type(2n) .comment-item__description .email {
    color: #58ad52;
}